<div class="is-three-quarters p-5 m-3 is-half block panel is-primary is-centered is-vcentered has-text-left">
  <h2 class="has-text-weight-medium">{{name}}</h2>
  <p>{{description}}</p>
  <p class="has-text-weight-medium" >Created by {{user.username}} on {{format_date date_created}}</p>
  <p>
    <span for="img" aria-label="review">âœ</span>
  <p>{{country_name}}</p>
  </p>
  <p>
    <button class="button is-primary my-3">Edit</button>
  </p>
</div>